@font-face {
  font-family: "DuneRise";
  src: url("../../assets/fonts/Dune_Rise.otf") format("opentype");
}

.faq-section {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

.bg-main {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.bg-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.faq-title {
  position: relative;
  text-align: center;
  font-size: 80px;
  color: white;
  margin-top: 80px;
  font-family: "DuneRise", sans-serif;
  z-index: 6;
}

.slider-wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: calc(var(--light-height) - 120px);
  position: relative;
  z-index: 4;
  cursor: grab;
}

.slider-wrapper:active {
  cursor: grabbing;
}

.slider-track {
  display: flex;
  gap: 40px;
  width: max-content;
}

.lamp {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: max(600px, 55vw);
  height: 600px;

  --light-height: 420px;
  height: var(--light-height);

  --base-width: 320px;
}

.lamp-light,
.lamp-base,
.lamp-glow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.lamp-light {
  bottom: 52px;   
  z-index: 1;

  width: 80vw;    
  max-width: calc(var(--base-width) * 2.5);
  min-width: 260px;
  max-height: var(--light-height);
  transform-origin: bottom center;
  overflow: hidden;    
}

.lamp-light img {
  width: 100%;
  height: auto;
  display: block;
}

/* ===== BAZA ===== */

.lamp-base {
  bottom: 0;
  width: var(--base-width);
  height: 80px;
}

.lamp-glow {
  bottom: 34px;
  width: 120px;
  height: 40px;
}

.lamp-base img,
.lamp-glow img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 767px) {
  .lamp {
   --light-height: 260px;
    --base-width: 220px;
    width: 90vw;
  }

  .slider-wrapper {
    margin-top: calc(var(--light-height) - 80px);
  }

  .faq-title {
    font-size: 48px;
    margin-top: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .lamp {
    --light-height: 340px;
    --base-width: 260px;
  }

  .slider-wrapper {
    margin-top: calc(var(--light-height) - 100px);
  }

  .faq-title {
    font-size: 64px;
  }
}

@media (min-width: 1024px) {
  .lamp {
    --light-height: 420px;
    --base-width: 320px;
  }

  .slider-wrapper {
    margin-top: calc(var(--light-height) - 140px);
  }
}