*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

body {
    display: block; 
    place-items: unset; 
}

.hero-main{
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/hero/background-main.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
    min-height: 100vh;
    max-height: 150vh;
    max-width: 2000px;
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    .hero-main{
        background-position: center;
        background-size: cover;
        height: auto;
    }

}
@media screen and (max-width: 2000px) {
    .hero-main{
        min-height: 100vw;
    }
}
/*@media screen and (min-width: 2001px) {*/
/*    .hero-main{*/
/*        background-position: center bottom;*/
/*        background-size: cover;*/
/*        min-height: 100vh;*/
/*        max-width: 2000px;*/
/*    }*/
/*}*/