@font-face {
    font-family: 'Dune Rise Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Dune Rise Regular'), url('../../assets/fonts/Dune_Rise.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Regular'), url('../../assets/fonts/Montserrat-Regular.woff') format('woff');
}

*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    /*overflow-x: hidden;*/
}

.main-title{
    font-family: 'Dune Rise Regular';
    font-weight: 400;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0;
}

.main-title span,
.secondary-title span {
  display: inline;
}

.secondary-title{
    font-family: 'Montserrat Regular';
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0;

    padding-top: 1%;
}

.powered-by{
    font-family: 'Montserrat Regular';
    font-size: 12px;

    position: absolute;
    bottom: -160px;
    right: 50px;
}

.powered-by img{
    width: 89px;
    height: 25px;
}

.main-content{
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 450px) {
    .main-content{
        padding-left: 20px;
        align-items: baseline;
        justify-content: left;
    }

    .main-title{
        font-size: 36px;
    }
    .secondary-title{
        margin-top: 10px;
        font-size: 20px;
    }
    .main-title span,
    .secondary-title span{
        display: block;
    }

    .btn-sign-up{
        margin-top: 15px;
        width: 158px;
        height: 34px;
        font-size: 17px;
    }

    .btn-sign-up img{
        width: 14px;
        height: 21px;
        margin-left: 5px;
    }

    .powered-by{
        visibility: hidden;
        position: relative;
    }
}