@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dune Rise";
  src: url("../assets/fonts/DuneRise.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}