@font-face {
    font-family: 'DuneRise';
    src: url("../assets/fonts/Dune_Rise.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('../assets/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;