*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body{
  width: 100vw;
  min-height: 100vh;
}

.App{
  background-color: #041339;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}