@font-face {
    font-family: 'Dune Rise Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Dune Rise Regular'), url('./assets/fonts/Dune_Rise.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Regular'), url('./assets/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Regular'), url('./assets/fonts/Montserrat-Bold.woff') format('woff');
}

.main-title{
    font-family: 'Dune Rise Regular';
    font-weight: 400;
    size: 70px;
    line-height: 100%;
    letter-spacing: 0;
}

.secondary-title{
    font-family: 'Montserrat Regular';
    font-weight: 400;
    size: 32px;
    line-height: 100%;
    letter-spacing: 0;
}

.btn-sign-up{
    font-family: 'Montserrat Bold';
    font-weight: 700;
    font-style: Bold;
    font-size: 31px;
    line-height: 100%;
    letter-spacing: 0%;

}