@font-face {
    font-family: 'Dune Rise Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Dune Rise Regular'), url('./assets/fonts/Dune_Rise.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Regular'), url('./assets/fonts/Montserrat-Regular.woff') format('woff');
}

*{
    margin: 0;
    padding: 0;
    color: white;
}

.main-title{
    font-family: 'Dune Rise Regular';
    font-weight: 400;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0;
}

.secondary-title{
    font-family: 'Montserrat Regular';
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0;

    padding-top: 1%;
}

.main-content{
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}