@font-face {
    font-family: 'Dune Rise Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Dune Rise Regular'), url('./assets/fonts/Dune_Rise.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Regular'), url('./assets/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Regular'), url('./assets/fonts/Montserrat-Bold.woff') format('woff');
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Regular';
    color: white;
}

.main-title{
    font-family: 'Dune Rise Regular';
    font-weight: 400;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0;
}

.secondary-title{
    font-family: 'Montserrat Regular';
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0;
}

.btn-sign-up{
    width: 277px;
    height: 69px;

    font-family: 'Montserrat Bold';
    font-weight: 700;
    font-size: 31px;
    line-height: 100%;

    background-color: #002440;
    border-radius: 9999px;
}

.main-content{
    width: 100%;
    height: 100vh;
    background-color: #232323;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}