
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DuneRise';
  src: url('./assets/Dune_Rise.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-dune{
  font-family: 'DuneRise', sans-serif;
}

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #002440;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
