    @font-face {
        font-family: 'Dune Rise';
        src: url('./assets/fonts/Dune_Rise.ttf') format('truetype');
        font-style: normal;
    }

    .stranica-kontejner{
        display: flex;
        flex-direction: column;
        align-items: center;    
        min-height: 100vh;
        width: 100vw;
        padding-top: 40px;
        background-color: #041339;
    }

    .glavni-naslov{
        font-family: 'Dune Rise', sans-serif;
        font-size: 64px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;
        margin: 0;

        text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.4);
    }   